</div>
<script src='/js/app.js'></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.custom.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="https://use.fontawesome.com/90f66bee57.js"></script>

</body>
</html>