<% include partials/header %>

    <main>
        <div id="app" class="container">
            <tab>
                <h3>Hello</h3>
            </tab>
            <h3>Hello</h3>
        </div>
    </main>

<% include partials/footer %>
    