<% include partials/header %>

    <main>
        <div id="app" class="container">
            <message title="Hellow World" body="Theres a fuck up above!"></message>
        </div>
    </main>

    <% include partials/footer %>
    