<% include partials/header %>
<body>
   <div id="app">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
         <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#home"><i class="fa fa-home" aria-hidden="true">Home</i></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                  <li>
                     <a href="#about"><i class="fa fa-user-circle" aria-hidden="true">About</i></a>
                  </li>
                  <li>
                     <a href="#skills"><i class="fa fa-code" aria-hidden="true">Skillz</i></a>
                  </li>
                  <li>
                     <a href="#contact"><i class="fa fa-address-book" aria-hidden="true">Contact</i></a>
                  </li>
               </ul>
            </div>
            <!-- /.navbar-collapse -->
         </div>
         <!-- /.container -->
      </nav>
      <!-- Full Width Image Header -->
      <header class="header-image img-responsive" id="home">
         <div class="headline">
            <div class="container">
               <h1 class="fadeInObject" id="headerName">Matthew Devellis</h1>
               <hr class="featurette-divider fadeInObject">
               <h2 class="fadeInObject" id="headerDDD">Data - Development - Design</h2>
            </div>
         </div>
      </header>
      <!-- Page Content -->
      <div class="container">
         <hr class="featurette-divider">
         <!-- First Featurette -->
         <div class="featurette" id="about">
            <div class="col-md-8 col-md-offset-2">
               <h2 class="featurette-heading">#about:
                  <span class="text-muted">Who am I?</span>
               </h2>
               <p class="lead">
                  <kbd>I am</kbd> many different things. Mostly <kbd>odd</kbd>. However, 
                  I can do some stuff with programming. Which is <kbd>nice</kbd>.
               </p>
               <p class="lead">
                  I am <kbd>a recent college graduate</kbd>. I have worked in many
                  different professions.
               </p>
               <p class="lead">
                  I have some experience as <kbd>a programmer</kbd>. Although
                  <kbd>somewhat experienced</kbd>, I did manage to develop
                  this website (almost) completely on my own.
               </p>
            </div>
         </div>
         <hr class="featurette-divider">
         <!-- Second Featurette -->
         <div class="featurette" id="skills">
              <div class="col-md-8 col-md-offset-2">
            <h2 class="featurette-heading">#skillz:
               <span class="text-muted">What can I do?</span>
            </h2>
            <p class="lead">
               I have various experience in several different areas of both software development, 
               as well as web development. Take a look below to see the various things I have experience with.
            </p>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
               <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                     <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Frameworks
                        </a>
                     </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                     <div class="panel-body">
                        I am currently working most with <strong>Bootstrap</strong>. The webpage that you see before you was
                        made entire in this framework, by me. I have also some knowledge with <strong>Vue.JS</strong> and <strong>Node.JS</strong>.
                     </div>
                  </div>
               </div>
               <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                     <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        IDE's/Developer Environments
                        </a>
                     </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                     <div class="panel-body">
                        I have just recently started working in the field of web development. Most of my prior experience
                        is based in software development with compiled languages. I am familiar with the following:
                        <ul class="list-group">
                           <li class="list-group-item">Microsoft Visual Studio</li>
                           <li class="list-group-item">Intellij</li>
                           <li class="list-group-item">Bloodshed for C++</li>
                           <li class="list-group-item">Codepen</li>
                           <li class="list-group-item">Koding</li>
                           <li class="list-group-item">Codenvy</li>
                           <li class="list-group-item">Command Line</li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                     <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Languages
                        </a>
                     </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                     <div class="panel-body">
                        To reiterate, most of my experiences with developing any kind of software are with compiled
                        languages. Here are some things I know:
                        <ul class="list-group">
                           <li class="list-group-item">
                              <div class="progress">
                                 <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                    HTML: 90%
                                 </div>
                              </div>
                           </li>
                           <li class="list-group-item">
                              <div class="progress">
                                 <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                    CSS: 90%
                                 </div>
                              </div>
                           </li>
                           <li class="list-group-item">
                              <div class="progress">
                                 <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                    JavaScript: 70%
                                 </div>
                              </div>
                           </li>
                           <li class="list-group-item">
                              <div class="progress">
                                 <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                    C++: 70%
                                 </div>
                              </div>
                           </li>
                           <li class="list-group-item">
                              <div class="progress">
                                 <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                    VisualBasic: 60%
                                 </div>
                              </div>
                           </li>
                           <li class="list-group-item">
                              <div class="progress">
                                 <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                    Java: 80%
                                 </div>
                              </div>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <hr class="featurette-divider">
      <!-- Third Featurette -->
      <div class="featurette" id="contact">
         <div class="col-md-8 col-md-offset-2">
            <h2 class="featurette-heading">#contact-info:
               <span class="text-muted">How do you get in touch with me?</span>
            </h2>
            <ul class="list-group">
               <li class="list-group-item">
                  <h4>Email</h4>
                  <p>
                     Feel free to email me at any time, day or night:
                  </p>
               </li>
               <li class="list-group-item">
                  <h4>LinkedIn</h4>
                  <p>
                     Connect with me on LinkedIn!
                  </p>
               </li>
               <li class="list-group-item">
                  <h4>GitHub</h4>
                  <p>
                     Check out some of the repos I have made!
                  </p>
               </li>
               <li class="list-group-item">
                  <h4>Codepen</h4>
                  <p>
                     Check out some of my other front end projects!
                  </p>
               </li>
            </ul>
         </div>
      </div>
      <hr class="featurette-divider">
   </div>
   <!-- Footer -->
   <footer>
      <div class="row">
         <div class="col-lg-12">
            <p class="text-center">Copyright &copy;  2017</p>
         </div>
      </div>
   </footer>
   </div>
   <% include partials/footer %>