<% include partials/header %>

    <main>
        <div id="app">
            <h1>{{ message }}</h1>
            
            <input v-model="message">
        </div>
    </main>

    <% include partials/footer %>
    