<% include partials/header %>

    <main>
        <jumbo>
            <h2 slot="heading">aaaaaaaaa</slot>
        </jumbo>
        
        <div id="app" class="container">
        </div>
    </main>

<% include partials/footer %>
    