<% include partials/header %>

    <main>
        <div id="app">
            <ul>
            <li v-for='name in names'>{{name }}</li>
            </ul>
            
            <input id="input" type="text" v-model="newName">
            <button @click="addName" :title="title">Add Name</button>
        </div>
    </main>

    <% include partials/footer %>
    