<% include partials/header %>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
        
        <div id="root">
            <input type="text" id="input" v-model="message">
        </div>
    </main>

    <% include partials/footer %>
    